<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<title>Editar Participantes</title>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 col-sm-6 justify-content-center card"></div><hr>
			<h1 class="text-center">Editar Participante</h1><hr>
			<div class="card-body">

				<form th:action="@{/participantes/{id}(id=${participante.id})}" th:object="${participante}"
					method="POST">
					<div class="form-group">
						<label>Nombre:</label> <input type="text" name="nombre"
							th:field="*{nombre}" class="form-control"
							placeholder="Introduce el nombre" required="required">

					</div>
					<br>
					<div class="form-group">
						<label>Apellidos:</label> <input type="text" name="apellidos"
							th:field="*{apellidos}" class="form-control"
							placeholder="Introduce los apellidos" required="required">

					</div>
					<br>
					<div class="form-group">
						<label>Club:</label> <input type="text" name="club"
							th:field="*{club}" class="form-control"
							placeholder="Introduce el club" required="required">

					</div>
					<br>
					<div class="form-group">
						<label>Poblacion:</label> <input type="text" name="poblacion"
							th:field="*{poblacion}" class="form-control"
							placeholder="Introduce la poblacion" required="required">
					</div>
					<br>
					<div class="box-footer">
					
						<button class="btn btn-primary">Guardar</button>
					</div>


				</form>

			</div>

		</div>
	</div>

</body>
</html>